header
        a(href="/")
            h4.brand-name Meme Bros
            
        span.links
            a(href="https://github.com/Tracer1337" target="_blank") Author
            a(href="/privacy") Privacy
            a(href="/legal") Legal