header
        a(href="/")
            h4.brand-name Easy Meme
            
        span.links
            a(href='#features') Features
            a(href='#about') About
            a(href="/archive") Archive
            a(href='https://www.yet-another-blog.com/legal' target='_blank') Legal