include ./includes/head.pug

+head("EasyMeme | Archive")

body
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

    include ./includes/nav.pug

    #image-grid(style="padding: 0 20px;")

    script.
        images=JSON.parse(`!{JSON.stringify(images)}`)

    include ./includes/scripts.pug

    script(src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin)
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin)
    script(src="https://unpkg.com/react-copy-to-clipboard/build/react-copy-to-clipboard.js")
    
    script(src="/js/img-grid.js")