include ./includes/head.pug

+head("EasyMeme | Archive")

body
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

    include ./includes/nav.pug

    #image-grid(style="padding: 0 20px;")

    script.
        images=JSON.parse(`!{JSON.stringify(images)}`)

    include ./includes/scripts.pug
    
    script(src="/js/archive.bundle.js")