doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    // SEO
    meta(name='author' content='Merlin Moelter')
    meta(name='description' content='The Easiest Meme Generator Available')

    meta(property='og:title' content='Easy Meme')
    meta(property='og:description' content='The Easiest Meme Generator Available')
    meta(property='og:image' content='http://easymeme69.com/images/logo.png')
    meta(property='og:site_name' content='Easy Meme 69')
    meta(property='og:type' content='Website')

    link(rel='canonical' href='http://easymeme69.com/')

    link(rel='icon' href='images/favicon.ico')

    link(rel='stylesheet' href='css/materialize.min.css')
    link(rel='stylesheet' href='css/cookieconsent.min.css')
    link(rel='stylesheet' href='css/style.css')

    title Easy Meme

    // Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-162994094-2')

body
    header
        h4.brand-name Easy Meme
            
        span.links
            a(href='#features') Features
            a(href='#about') About
            a(href='https://www.yet-another-blog.com/legal' target='_blank') Legal

    main
        h4 The last Meme Generator you will ever need.

        .statistics
            div
                span(data-counter).counter #{amountTemplates}
                | Free Templates
            
            div
                span(data-counter).counter #{totalTemplateUses}
                | Memes Generated

        .main-actions
            a.waves-effect.waves-light.btn.deep-purple(href='editor') Open Editor

            a.download-badge-wrapper(href='https://play.google.com/store/apps/details?id=com.easymeme69.memegenerator')
                img#google-play.download-badge(src='images/google-play-badge.png' alt='Get It On Google Play')

            a.download-badge-wrapper(href='https://chrome.google.com/webstore/detail/easy-meme/ommpgjkjggomcffcljihjbmmleldhndf')
                img#chrome-webstore.download-badge(src='images/chrome-webstore-badge.png' alt='Get It On Web Store')

    .outer-preview
        .inner-preview
            img.screenshot-iphone(src='images/screenshot-iphone.png' alt='')
            img.screenshot-1(src='images/screenshot-1.png' alt='')
            img.screenshot-2(src='images/screenshot-2.png' alt='')
            
    .divider

    section#features
        h4 Features
        ul
            li Download Free Templates
            li Import Your Own Images
            li Add Intuitive Textboxes
            li Use The Powerful Grid System
            li Generate Whitespace Effortless
            li Upload Directly To Imgur
            li Share Images On Social Media

    .divider

    section#about
        h4 About
        p Easy Meme is a hobby project of Merlin Moelter.
        p Contact: merlin.moelter@gmail.com, 
            a(href='https://github.com/Tracer1337' target='_blank') GitHub

    .divider

    section#footer
        p Google Play and the Google Play logo are trademarks of Google LLC.

    script(src='js/materialize.min.js')

    script(src='js/anime.min.js')

    script(src='js/cookieconsent.min.js')

    script(src="js/index.js")
