include ./includes/head.pug

+head("Meme Bros")

body
    include ./includes/nav.pug

    main
        h4 The last Meme Generator you will ever need.

        .statistics
            div
                span(data-counter).counter #{amountTemplates}
                | Free Templates
            
            div
                span(data-counter).counter #{totalTemplateUses}
                | Memes Generated

        .main-actions
            a.waves-effect.waves-light.btn.deep-purple(href='editor') Open Editor

            a.download-badge-wrapper(href='https://play.google.com/store/apps/details?id=com.easymeme69.memegenerator')
                img#google-play.download-badge(src='images/google-play-badge.png' alt='Get It On Google Play')

            a.download-badge-wrapper(href='https://chrome.google.com/webstore/detail/easy-meme/ommpgjkjggomcffcljihjbmmleldhndf')
                img#chrome-webstore.download-badge(src='images/chrome-webstore-badge.png' alt='Get It On Web Store')

    .outer-preview
        .inner-preview
            img.screenshot-iphone(src='images/screenshot-iphone.png' alt='')
            img.screenshot-1(src='images/screenshot-1.png' alt='')
            img.screenshot-2(src='images/screenshot-2.png' alt='')

    .divider

    section#footer
        p Google Play and the Google Play logo are trademarks of Google LLC.

    include ./includes/scripts.pug
