@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("true-type");
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Regular.ttf") format("true-type");
}

html {
    font-family: "Raleway", sans-serif;
    color: white;
}

body {
    background-image: linear-gradient(to bottom right, #764BA2, #667EEA);
    background-repeat: no-repeat;
    overflow-x: hidden;
}

h4 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

strong {
    font-weight: bold;
}

.divider {
    background-color: white;
    opacity: .2;
}

.btn {
    font-family: "Roboto", sans-serif;
}


header {
    height: 64px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h4 {
    margin: 0;
    font-size: 18px;
}

header a {
    font-size: 12px;
    margin-left: 16px;
    color: white;
}

header a:first-child {
    margin-left: 0;
}


main, section {
    margin: 64px 42px;
}

main {
    margin-top: 32px;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .btn {
    margin-top: 16px;
}

.download-badge-wrapper {
    display: flex;
}

.download-badge {
    margin-top: 8px;
}

#google-play {
    width: 154px;
}

#chrome-webstore {
    width: 133px;
}

section h4 {
    margin-bottom: 32px;
}

section a {
    color: white;
    text-decoration: underline;
}

section li {
    font-size: 16px;
    text-align: center;
    margin-bottom: 24px;
}

section li:last-child {
    margin-bottom: 0;
}

.outer-preview {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.inner-preview {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 475px;
    max-height: 600px;
}

.inner-preview img {
    user-select: none;
}

.screenshot-iphone {
    width: 196px;
    height: 390px;
    position: absolute;
    bottom: 54px;
    left: 59px;
    transform: perspective(200px) rotateZ(-45deg) rotateY(22.5deg);
}

.screenshot-1, .screenshot-2 {
    width: 190px;
    height: 412px;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.screenshot-1 {
    bottom: 96px;
    left: 122px;
    transform: rotate(-17.5deg);
    transform: perspective(200px) rotateZ(-40deg) rotateY(22.5deg);
}

.screenshot-2 {
    bottom: 160px;
    left: 186px;
    transform: rotate(-27.5deg);
    transform: perspective(200px) rotateZ(-50deg) rotateY(22.5deg);
}

@media only screen and (min-width: 420px) {
    section p {
        text-align: center;
    }
}

@media only screen and (min-width: 1050px) {
    header {
        margin: 0 auto;
        padding: 0 32px;
        max-width: 1100px;
    }

    header h4 {
        font-size: 28px;
    }

    header a {
        font-size: 18px;
        margin-left: 64px;
    }

    main {
        margin: 0 auto 64px auto;
        padding-left: 32px;
        max-width: 1100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .main-actions {
        flex-direction: row;
        align-items: center;
    }

    main .btn {
        margin: 0;
    }

    .download-badge {
        margin-top: 0;
        margin-left: 16px;
    }

    #google-play {
        width: unset;
        height: 54px;
    }

    #chrome-webstore {
        width: unset;
        height: 36px;
    }

    .outer-preview {
        max-width: 1100px;
        left: 50%;
        transform: translateX(-50%);
        justify-content: flex-end;
        align-items: center;
    }
}