@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "Impact";
    src: url(./assets/fonts/impact.ttf) format("truetype");
}

@font-face {
    font-family: "Comic Sans";
    src: url(./assets/fonts/comic-sans.ttf) format("truetype");
}

body {
    overflow: hidden;
    margin: 0;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

#root {
    position: relative;
    width: var(--width);
    height: 100vh;
    margin: auto;
}