:root {
    --height: 575px;
    --width: 400px;
    --config-height: 32px;
    --color-primary: #BB86FC;
}

body {
    margin: 0;
    height: var(--height);
    background-color: #424242;
}

.primary {
    background-color: var(--color-primary) !important;
}

#config {
    height: var(--config-height);
    margin: 8px;
}

#config form {
    height: 100%;
}

#config form .row {
    height: 100%;
}

#main-frame {
    height: calc(var(--height) - var(--config-height));
    width: var(--width);
}